* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

.card .row {
    padding-right: 0;

}

.card {
    height: 100%;
    width: 100%;

}







/* Carousel hover */
.d-block:hover {
    transform: scale(1.1);
}

.carousel-item img {
    max-width: 100%;
    transition: all 0.4s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

/* image hover */





/* add image and  video  */


h1 {

    margin-left: 75px;

}

h3 {
    padding: 20px;
    font-size: 20px;
}

.sec {
    background-color: #EEEEEE;
}

/* ----footer---- */
.footer{
    background-color: #fff;
    width: 100%;
    height: 200px;
}
.footer_nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.footer_nav a{
    text-decoration: none;
    color: black;
    margin: 30px 0;
}
.footer_logo2-img{
    align-items: center;
}

.media_icon{
    margin-left: 600px;
    width: 195px;
    display: flex;
    justify-content: space-between;
}
.copy{
    display: flex;
    justify-content: space-between;
}
.foot a{
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
}

@media (max-width:958px){
    .footer_nav{
        justify-content: center;
        flex-direction: column;
    }
    .media_icon{
        margin-left: 4px;
    }
    .copy{
        /* margin-left: 200px; */
        flex-direction: column;
        align-items: center;
    }
    .brand{
        margin-left: 330px;
    }
}
@media(max-width:768px){
    .brand{
        margin-left: 230px;

}
}
@media(max-width:576px){
    .brand{
        margin-left: 130px;

}
}
@media(max-width:575px){
    .brand{
        margin-left: 50px;

}
}