* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

/* Card Section */
.card .row {
    padding-right: 0;
}

.card {
    width: 100%;
}

/* Carousel hover */
.d-block:hover {
    transform: scale(1.05);
}

.carousel-item img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
    display: block;
    height: auto;
}

/* Section Titles */
h1 {
    margin-left: 5%;
}

h3 {
    padding: 10px;
    font-size: 20px;
}

.sec {
    background-color: #EEEEEE;
    padding: 20px;
}

/* Footer */
.footer {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
}

.footer_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.footer_nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Logo Alignment */
.footer-logo {
    height: 50px;
}

/* Navigation Links */
.footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Social Media Icons */
.media_icon {
    display: flex;
    align-items: center;
    font-size: x-large;
    gap: 25px;
}

.copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

.foot {
    text-align: center;
}

.foot a {
    text-decoration: none;
    color: #000;
}

/* Responsive Design */
@media (max-width: 992px) {
    .footer_nav {
        flex-direction: column;
        text-align: center;
    }

    .media_icon {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-left: 3%;
    }

    .footer_nav {
        flex-direction: column;
        text-align: center;
    }

    .copy {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .copy p {
        flex: 1 1 auto;
        white-space: nowrap;
    }
}

@media (max-width: 576px) {
    h1 {
        text-align: center;
        margin-left: 0;
    }
}